.git
.gitignore
.dockerignore

__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.coverage
htmlcov/

.venv/
venv/

.idea/
.vscode/
.DS_Store

data/*
!data/images/
!data/images/.gitkeep
!data/videos/
!data/videos/.gitkeep
!data/pointclouds/
!data/pointclouds/.gitkeep
!data/output/
!data/output/.gitkeep

models/*
!models/.gitkeep
